bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log
*.tmp
TestResults/
packages/
artifacts/
publish/
*.nupkg
*.snupkg
.nuget/
.vscode/
.idea/
.DS_Store
Thumbs.db
appsettings.Development.json
appsettings.*.local.json
.env
.env.*

node_modules/
dist/
dist-server/
coverage/
.angular/
.npm/


GestionInventario.Api/bin/
GestionInventario.Api/obj/
GestionInventario.Application/bin/
GestionInventario.Application/obj/
GestionInventario.Domain/bin/
GestionInventario.Domain/obj/
GestionInventario.Infrastructure/bin/
GestionInventario.Infrastructure/obj/
